body{
    margin: 1%;
    color: #303030;
}

/*A propos*/

.acontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aimage{
    flex-direction: row;
    width: 33%;
    height: auto;
    padding-top: 0.5%;
}

.aimage1{
    width: 100%;
}

.acontainer .atexte{
    flex-direction: column;
    padding-left: 4%;
    padding-right: 6%;
    font-family: 'Maitree', serif;
    width: 58%;
}

.acontainer h2{
    flex-direction: column;
    text-align: center;
    font-size: 80px;
    color: #303030;
    font-family: 'Amiri', serif;
}

h2{
    
}

.acontainer h3, h4{
    font-size: 60px;
    color: #303030;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    font-family:  'Amiri', serif;
    border-top: 1px solid black;
    width: 100%;
}

.acontainer p{
    font-family: 'Maitree', serif;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.aliste{
    width:40em;
    margin: auto;
}

.acontainer li{
    font-family: 'Maitree', serif;
}

/*responsive*/

@media screen and (max-width: 480px){

.aimage{
width: 100%;
text-align: center;
}

.aimage1{
    width: 60%;
}
.acontainer h2, h3{
    border-top: 1px solid black;
    width: 80%;
}
.acontainer{
    justify-content: baseline;
    justify-items: center;
}

.acontainer .atexte{
    width: 100%;
}
.atexte p{
    width: 100%;
    padding: 0;
}
}