#image{
   text-align: center;
}


img {
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}

.contenant {
    position: relative;
    text-align: center;
    color: #222;
}
  
.texte_centrer {
    position: absolute;
    top: 85%;
    right: 20%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Italianno', cursive;

  }
  .form-example{
    text-align: center;
  }
main{
    padding-left: 20%;
    padding-right: 20%;
    background-image: url(costume.jpp) 
    
}
#comments{
  resize: none;
}

